name: Trigger auto deployment for fastapi-container

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/fastapi-container-AutoDeployTrigger-2cd3bd51-2213-4f2d-b9cf-35a07b1eee98.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.FASTAPICONTAINER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.FASTAPICONTAINER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.FASTAPICONTAINER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: fastapiregistryavf5w.azurecr.io
          registryUsername: ${{ secrets.FASTAPICONTAINER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.FASTAPICONTAINER_REGISTRY_PASSWORD }}
          containerAppName: fastapi-container
          resourceGroup: fastapi-rg
          imageToBuild: fastapiregistryavf5w.azurecr.io/fastapi-container:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


